{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "import/prefer-default-export": "off",
    "semi": [
      1,
      "never"
    ],
    "indent": [
      "error",
      2
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1
      }
    ]
  }
}
