*.log
*.pyc
env*

# Ignore database
*.db

# Ignore any cache
.cache

# Ignore coverage intermediate files
htmlcov
.coverage

# Octave files
octave-workspace

# Celery beat schedules
celerybeat-schedule
