*.log
*.pyc
env*

# Ignore database
*.db

# Ignore any cache
.cache

# Ignore coverage intermediate files
htmlcov
.coverage

# Octave files
octave-workspace

# npm
node_modules

 # webpack-built files
matl_online/static/build/
matl_online/webpack/manifest.json

# Ignore IDE configurations
.idea
