<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <style>
      .error {
        font-family: monospace;
        color: #F00;
        border: 0px;
        font-weight:normal;
        font-size: 14px;
        overflow: auto;
        white-space: pre-line;
      }

      #versiondrop {
        max-height: 400px;
        overflow: auto;
      }

      textarea{
        resize: none;
      }

      .annotation {
        color: #AAA;
        float: right;
        text-align: right;
      }

      .code {
        font-family: monospace;
        font-weight: bold;
        font-size: 14px;
        white-space: pre;
        display: block;
        overflow: auto;
      }

      pre.code {
        border: 0px;
        min-height: 200px;
        height: auto;
        overflow: auto;
        background-color: none;
        white-space: pre;
      }

      th {
        font-size: 14px;
      }

      .btn-inverse.active {
        background-color: #080808 \9;
      }

      td {
        font-size: 12px;
        font-family: monospace;
        vertical-align: top;
      }

      .explain {
        max-height: 500px;
        overflow-y: auto;
      }

      .imshow {
        width: 75%;
      }

      img {
        image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
        image-rendering: -moz-crisp-edges;          /* Firefox                        */
        image-rendering: -o-crisp-edges;            /* Opera                          */
        image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
        image-rendering: pixelated; /* Chrome */
        image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
        -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
      }
    </style>
  </head>
  <body>

    <div class="modal fade" id="explainmodal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modaltitle">Explanation</h4>
          </div>
          <div class="modal-body explain">
            <pre id="modal-explain" class="code"></pre>
          </div>
        </div>
      </div>
    </div>

    <!-- Creates the bootstrap modal where the image will appear -->
    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Image preview</h4>
          </div>
          <div class="modal-body">
            <img src="" id="imagepreview" style="width: 100%;" >
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12 navbar navbar-default">
          <div class="navbar-header">
            <a class="navbar-brand" href="https://github.com/lmendo/MATL">MATL Online</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">

              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span id="version" class="version" data-version="{{ version.tag }}">
                  {% if version == versions[0] %}
                  latest
                  {% else %}
                  {{ version.tag }}
                  {% endif %}
                </span>
                <span class="caret"></span>
              </a>
              <ul id="versiondrop" class="dropdown-menu">
                {% for item in versions %}
                  <li><a class="version" href="#" data-version="{{ item.tag }}" data-toggle="tooltip" title="{{ item.date }}">{{ item.tag }}</a></li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5">
          <form id="codeform" action="#" method="POST">
            <div class="form-group">
              <label for="code">Source Code</label> 
              <span id="explain" data-toggle="tooltip" title="Show Explanation" style="color: #BBB;" class="glyphicon glyphicon-question-sign"></span>
              <span class="annotation" id="charcount">({{ code|length }} character{% if code|length != 1 %}s{% endif %})</span>
              <textarea id="code" onkeyup="countChar(this);" class="code form-control" name="code">{% if code %}{{ code }}{% endif %}</textarea>
            </div>

            <div class="form-group">
              <label for="inputs">Input Arguments</label>
              <!--<input class="annotation" placeholder="Lines Per Run" name="lines_per"></input>-->
              <textarea id="inputs" rows=8 class="code form-control" name="inputs">{% if inputs %}{{ inputs }}{% endif %}</textarea><br>
              <button id="run" class="btn btn-secondary" style="width:100px;">Run</button>
              &nbsp;&nbsp;
              <button id="save" class="btn btn-secondary" style="width: 100px;">Save</button>
            </div>

            <input class="form-control" type="hidden" id="debug" name="debug" value="0">
          </form>

          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#outputtab" id="outputconsoletab">Output</a></li>
            <li><a data-toggle="tab" href="#errortab" id="errorconsoletab">Error Console</a></li>
</ul>

            <div class="tab-content" style="height:auto;">
              <div id="outputtab" class="tab-pane active">
                <div class="code" id="output" wrap="off"></div>
              </div>

              <div id="errortab" class="tab-pane">
                <div id="errors" class="error"></div>
              </div>
            </div>
        </div>

        <div class="col-md-6 col-md-offset-1">
          <table class="table-striped table" id="documentation">
            <thead>
              <tr>
                <th>Sym.</th>
                <th>Arguments</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
        </div>
      </div>
    </div>
  </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

    <script>

      var table;
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      var uuid;
      var running = false;

      $('#codeform').on('submit', function(d){ d.preventDefault(); });
      
      function submitCode(){
        var form = $('#codeform');
        
        $('#errorconsoletab').css('font-weight', 'normal');
        $('#errors').html('');
        $('#output').html('')

        socket.emit('submit', {
          code: $('#code').val(),
          inputs: $('#inputs').val(),
          debug: $('#debug').val(),
          version: $('#version').data('version'),
          uid: uuid
        });

        running = true;

        $('#run').text('Kill');
      }

      // When the server acknowledges that we are connected it will issue
      // us an ID which we can use to get updates
      socket.on('connection', function(data){
        uuid = data.session_id;
      });

      $('#explain').on('click', function(d){
        var code = $('#code').val();
        var version = $('#version').data('version');

        if ( code == '' ){ return; }

        $('#modal-explain').text('Parsing...');

        // Going to get the explanation and post it in a balloon
        $('#explainmodal').modal();

        $.ajax({
          url: '{{ url_for('public.explain') }}',
          method: 'GET',
          data:{ 
            code: code,
            version: version
          },
          success: function(resp){
            alltext = '';
            resp['data'].forEach(function (item){ alltext = alltext + item.value });
            $('#modal-explain').text(alltext);
          }
        });
      });

      function encodeData(data)
      {
        var ret = [];
        for (var d in data)
          ret.push(encodeURIComponent(d) + '=' + encodeURIComponent(data[d]));

        return ret.join('&');
      }

      function getlink(){
        return encodeData({
          'code': $('#code').val(),
          'inputs': $('#inputs').val(),
          'version': $('#version').data('version')
        });
      }

      socket.on('killed', function(data){
        $('#run').text('Run');
        running = false;
      });

      socket.on('complete', function(msg){
        $('#run').text('Run');
        running = false;
      });

      $('#run').on('click', function(){
        if ( running ){
          socket.emit('kill', {uid: uuid});
        } else {
          submitCode();
        }
      });

      socket.on('status', function(data){
        var output = $('#output');
        var errors = $('#errors');

        output.text('');

        if ( data['session'] == uuid ){
          data['data'].forEach(function(item){
            switch ( item.type ){
              case 'image':
                val = '<a href="#" class="thumb"><img class="imshow" src="' + item.value + '"></a><br>';
                output.append(val);
                $('.thumb').on('click', function(){
                  var url = $(this).find('.imshow').attr('src');
                  $('#imagepreview').attr('src', url);
                  $('#imagemodal').modal('show');
                });
                break;
              case 'stderr':
                errors.append(item.value + '\n');
                $('#errorconsoletab').css('font-weight', 'bold');
                break;
              default:
                $('#output').append(item.value);
            }
          });
        }
      });

      function refreshHelp(){
        table.ajax.url('help/' + $('#version').data('version')).load();
      }

      $('.version').on('click', function(e){
        $('#version').text(e.target.text).data('version', $(e.target).data('version'));
        refreshHelp();
        e.preventDefault();
      });

      $('#save').on('click', function(e){
        link = '{{ url_for('public.home') }}' + '?' + getlink();
        history.pushState({'Title': '', 'Url': link}, '', link);
        e.preventDefault();
      });

      table = $('#documentation').DataTable({
        paging: false,
        ordering: false,
          info: false,
          ajax: 'help/' + $('#version').data('version'),
          stripe: true,
          scrollY: '80vh',
          scrollX: false,
          scrollCollapse: true,
          order: [[ 0, "asc"]],
          columns: [
            {'data': 'source'},
            {'data': 'arguments'},
            {'data': 'description'}
            ],
          });

        function countChar(val){
          var count = val.value.length;
          if ( count == 1 ){
            $('#charcount').text('(' + count + ' character)');
          } else {
            $('#charcount').text('(' + count + ' characters)');
          }
        }
    </script>
  </body>
</html>
