.error {
    font-family: monospace;
    color: #F00;
    border: 0px;
    font-weight:normal;
    font-size: 14px;
    overflow: auto;
    white-space: pre-line;
}

.output {
    padding: 6px 12px;
}

#versiondrop {
    max-height: 400px;
    overflow: auto;
}

textarea{
    resize: none;
}

.annotation {
    color: #AAA;
    float: right;
    text-align: right;
}

.code {
    font-family: monospace;
    font-weight: bold;
    font-size: 14px;
    white-space: pre;
    display: block;
    overflow: auto;
}

pre.code {
    border: 0px;
    min-height: 200px;
    height: auto;
    overflow: auto;
    background-color: none;
    white-space: pre;
}

.btn-inverse.active {
    background-color: #080808;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody td {
    vertical-align: top;
    font-size: 12px;
    font-family: monospace;
    white-space: pre-line;
}

.thumb {
    cursor: pointer;
}

#share {
    cursor: pointer;
}

.explain {
    max-height: 500px;
    overflow-y: auto;
}

#imagepreview {
    border: 1px solid #DDD;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    display: block;
}

.imshow {
    width: 75%;
    border: 1px solid #DDD;
}

.imagedetaildiv {
    padding-top:10px;
    padding-bottom: 5px;
    color: #AAAAAA;
    vertical-align: middle;
}

.imagedetails {
    float: right;
    font-size: 75%;
}

img.imgur {
    float:left;
    padding-right:10px;
}

#imgurlink {
    height: 10px;
    font-size: 75%;
}

.hspace {
    width: 10px;
}

img.nn-interp {
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

.popover{
    z-index:100000000;
}

.flip {
    backface-visibility:             hidden;
        -moz-backface-visibility:    hidden;
        -ms-backface-visibility:     hidden;
        -o-backface-visibility:      hidden;
        -webkit-backface-visibility: hidden;
    transform-origin:             50% 50% 0px;
        -moz-transform-origin:    50% 50% 0px;
        -ms-transform-origin:     50% 50% 0px;
        -o-transform-origin:      50% 50% 0px;
        -webkit-transform-origin: 50% 50% 0px;
    transition: all 1s;
        -moz-transition:    all 1s;
        -ms-transition:     all 1s;
        -o-transition:      all 1s;
        -webkit-transition: all 1s;
    width: 300px;    
    position: absolute;
    top:5px;
    display: block;
}

#share {
    transform:             rotateX( 0deg );
        -moz-transform:    rotateX( 0deg );
        -ms-transform:     rotateX( 0deg );
        -o-transform:      rotateX( 0deg );
        -webkit-transform: rotateX( 0deg );
}

#sharelink {
    transform:             rotateX( 180deg );
        -moz-transform:    rotateX( 180deg );
        -ms-transform:     rotateX( 180deg );
        -o-transform:      rotateX( 180deg );
        -webkit-transform: rotateX( 180deg );
}

.flip-side-1 {    
    transform:             rotateX( 0deg ) !important;
        -moz-transform:    rotateX( 0deg ) !important;
        -ms-transform:     rotateX( 0deg ) !important;
        -o-transform:      rotateX( 0deg ) !important;
        -webkit-transform: rotateX( 0deg ) !important;
}

thead {
    font-size: 14px;
}

.flip-side-2 {
    transform:             rotateX( 180deg ) !important;
        -moz-transform:    rotateX( 180deg ) !important;
        -ms-transform:     rotateX( 180deg ) !important;
        -o-transform:      rotateX( 180deg ) !important;
        -webkit-transform: rotateX( 180deg ) !important;
}

